* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #334155;
  color: #e2e8f0;
  font-family: "Sono", Helvetica, sans-serif;
  padding: 40px;
}
/* MAIN LAYOUTS */
.container {
  width: 1000px;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fact-form {
  background-color: #475569;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

/* Elements */

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #475569;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
}

ul {
  list-style: none;
}

.test {
  background-color: black;
  margin: 100px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 30px;
  row-gap: 50px;
}

.child {
  background-color: red;
  font-size: 30px;
}
